@import '~bulma/sass/utilities/mixins';

.navbar.custom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  @include desktop {
    position: absolute !important;
    background: none;
    margin-left: 2rem;
  }

  .navbar-item > img {
    max-height: 9vw;
  }

  .navbar-item,
  .navbar-link {
    color: var(gray);

    &:hover {
      color: var(dark-gray);
    }
  }
}

.navbar-menu.custom {
  &.is-active {
    @include desktop {
      float: right;
    }
  }
}
