// $variable-columns: false;
// $desktop: 1600px;
@import '~bulma/bulma';

.middle-section {
  padding: 2.5rem;

  // &::after {
  //   content: '';
  //   height: 10px;
  //   background-color: #e8e8e8;
  //   position: absolute;
  //   bottom: 1px;
  //   left: 0;
  //   right: 0;
  //   margin: 0 auto;
  // }
}

a {
  color: #787c80;
  &.hover {
    color: #363636;
  }
}

@include mobile {
  h3 {
    margin-top: 0.5rem; // hack for fixed navbar on mobile
  }
}
