// $variable-columns: false;
// $desktop: 1600px;
@import '~bulma/bulma';

:root {
  --light-gray: #e8e8e8;
  --gray: #787c80;
  --dark-gray: #606060;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
}

.middle-section {
  padding: 2.5rem;
  position: relative;

  &:after {
    content: '';
    height: 1px;
    background-color: var(--light-gray);
    position: absolute;
    bottom: 1px;
    width: 90%;
    left: 5%;
    right: 0;
  }
  &:last-child:after {
    height: 0;
  }
}

a {
  color: var(--gray);
  &.hover {
    color: var(--dark-gray);
  }
}

@include mobile {
  h3 {
    margin-top: 0.5rem; // hack for fixed navbar on mobile
  }
}
